body {
    display:flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display:flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.header .p {
    font-size: 24px;
    color: #F9FAF8;
}

ul,
a {
    display:flex;
    list-style-type: none;
    gap: 16px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;


}

.header,
.section-one {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left:128px;
    padding-right:128px;
}

.section-one {
    display: flex;
    justify-content: space-between;
    padding-bottom: 128px;
    flex: 1;
}

.img {
    /*MODIFY THIS AFTER ADDING IMAGE*/
    height: 150px;
    width: 400px;
    background-color: gray;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    border-color: white;
    border: 1px;
    color:white;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    
}

.welcome {
    max-width: 320px;
}

.welcome h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.welcome p {
    font-size: 18px;
    color: #e5e7eb;
}

.section-two {
    display: flex;
    flex-direction: column;
    padding-left:128px;
    padding-right:128px;
    padding-bottom: 128px;
    padding-top:128px;
    flex: 1;
}

.section-two h1 {
align-self: center;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.card {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    border: #1F2937;
    border: 2px;
    border-style: solid;
}

.section-three {
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin-bottom: 30px;
    align-items: center;
}
.quote {
    width: 500px;
}

.author {
    align-self:center;
    padding-left: 200px;
    font-weight: 700;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

.endcard {
    background-color: #3882F6;
    display: flex;
    width: 800px;
    height: 100px;
    justify-content:space-around;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 64px;
    margin-top: 64px;
}
.container {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.endcard button {
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    margin-right: 8px;
}

.call {
    font-size: 24px;
    font-weight: 900; 
    color:white;
}

.action {
    font-size: 18px;
    color: white;
}

.footer{
    display: flex;
    background-color: #1F2937;
    height: 60px;
    color: white;
    justify-content: center;
    align-items: center;
}